name: ikev2-vpn-server

on:
  push:
    paths:
      - ".github/workflows/ikev2-vpn-server.yaml"
      - "ikev2-vpn-server/**"
  schedule:
    # * is a special character in YAML so you have to quote this string
    # At 00:00 on Sunday.
    # https://crontab.guru/#0_0_*_*_7
    - cron:  '30 3 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    -
      name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3
    - name: Install dependencies
      run: |
        curl -sL https://github.com/gaomd/docker-ikev2-vpn-server/archive/master.tar.gz | tar xz
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@v5
      with:
        name: unchartedsky/ikev2-vpn-server
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        context: docker-ikev2-vpn-server-master
        buildoptions: "--compress --force-rm"
        cache: ${{ github.event_name != 'schedule' }}
        tag_names: true
